/*header*/
.header{
    width: 100%;
    /*height: 100%;*/
}
.header_t{
    width: 78%;
    margin: 0 auto;
    margin-bottom: 1%;
}
.header_tbox{
    width: 17%;
    height: 1px;
    background: #000000;
    margin: 1.5% 0;
}
.header_b{
    width: 100%;
    margin: 0 auto;
}
.header_bt li{
     float: left;
    margin-right: 2%;
 }
.active{
    border-bottom: 4px solid #323232;
}
.header_bt{
    width: 78%;
    margin: 0 auto;
    /*display: -webkit-flex;*/
    /*justify-content: space-around;*/
}
.header_btbox{
    float: left;
    width: 100%;
    height: 1px;
    background: #b7b7b7;
    margin-bottom: 2%;
}
.header_bbBox1{
    width: 90%;
    margin: 0 auto;
    display: -webkit-flex;
    justify-content: space-around;
}
.header_bbBox1 li{
    width: 25%;
    margin-bottom: 2%;
}

/*footer*/
.footer{
    width: 100%;
    height: 100%;
}
.footer-top{
    width: 100%;
    height: 32%;
    background: url("../img/123456.jpg") center/cover;

}
.footer-bottom{
    width: 100%;
    height: 68%;

}
.footer-bottom-1{
    width: 100%;
    height: 30%;
    position: relative;
}
.footer-tel{
    width: 50%;
    height: 35%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.footer-tel-1{
    float: left;
    width: 50%;
    height: 100%;
    border-right: 2px solid #555555;
    text-align: center;
}
.footer-tel-1 i{
    font-size: 30px;
    margin:0 10px;
    line-height: 1.6em;
}
.footer-tel-wo{
    font-size: 1em;
    margin-right: 5px;
}
.footer-tel-1S{
    font-size: 1.4em;
    margin-right: 5px;
}
.footer-tel-2{
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;

}
.footer-tel-2 i{
    font-size: 1.8em;
    margin:0 10px;
    line-height: 1.6em;
}
.footer-tel-2S{
    font-size: 1.4em;
}
.footer-bottom-2{
    width: 100%;
    height: 10%;
}
.footer-link{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #555555;
}
.footer-link li{
    width: 16.5%;
    text-align: center;
    float: left;
    font-size: 1.5em;
}
.footer-link li a{
    color: #000000;
}
.zhanwei{
    height: 15%;
    width: 100%;
}
.footer-bottom-3{
    width: 100%;
    height: 40%;
}
.footer-Ext{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}
.footer-Ext-left{
    width: 50%;
    height: 100%;
    float: left;
}
.footer-Ext-leftT,.footer-Ext-leftB{
    text-align: center;
    width: 100%;
    height: 50%;
    font-size: 1em;
}
.footer-Ext-leftB{
    letter-spacing:6px;
}
.footer-Ext-right{
    width:50%;
    height: 100%;
    float: left;
}
.footer-Ext-right-img{
    width: 30%;
    float: left;
    margin: auto 20px;
}